<footer
  class="mx-auto flex h-[4.5rem] max-w-(--w) items-center justify-center px-8 text-xs tracking-wider uppercase opacity-60"
>
  <div class="text-center">
    <div class="mb-2">
            {{- if site.Params.copyright -}} {{- site.Params.copyright -}} {{- else -}} &copy; {{-
      now.Year }}
      <a class="link" href="{{- `` | absURL -}}">{{- site.Title -}}</a>
      {{- end -}}
    </div>
    <div class="flex items-center justify-center gap-2">
      <span class="whitespace-nowrap">powered by</span> <a href="https://dashboard.internetcomputer.org/canister/wupbw-2aaaa-aaaae-abn7a-cai" target="_blank" rel="noopener"><img src="/img/ic_logo.svg" alt="Internet Computer" class="opacity-60" style="width: 150px !important" /></a>
    </div>
  </div>
</footer>
